<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="card p-4 shadow-sm signup-card">
    <h3 class="text-center mb-4">Sign-Up</h3>

    <form [formGroup]="SignupFrom" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <div class="input-group">
          <span class="input-group-text"
            ><i class="bi bi-person-fill"></i
          ></span>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Enter your name"
            formControlName="name"
          />
        </div>
        <div
          class="text-danger mt-1"
          *ngIf="
            SignupFrom.get('name')?.invalid && SignupFrom.get('name')?.touched
          "
        >
          Please enter a Name.
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <div class="input-group">
          <span class="input-group-text"
            ><i class="bi bi-envelope-fill"></i
          ></span>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Enter your email"
            formControlName="email"
          />
        </div>
        <div
          class="text-danger mt-1"
          *ngIf="
            SignupFrom.get('email')?.invalid && SignupFrom.get('email')?.touched
          "
        >
          Please enter a valid email.
        </div>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select id="roleSelect" name="roleId" formControlName="role">
          <option value="">-- Select Role --</option>
          <option value="6874ae32b41e197b5e54f6b5">Admin</option>
          <option value="6874af80b41e197b5e54f6b7">Sub-Admin</option>
          <option value="6874be93b41e197b5e54f6c4">Taxation-Department</option>
          <option value="687a0b93764c18e22ff48a64">Menu-Department</option>
          <option value="">Addon-Department</option>
          <option value="">Catagory-Department</option>
        </select>
        <div
          class="text-danger mt-1"
          *ngIf="
            SignupFrom.get('role')?.invalid && SignupFrom.get('role')?.touched
          "
        >
          Please enter a valid Job Department.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            formControlName="password"
          />
        </div>
        <div
          class="text-danger mt-1"
          *ngIf="
            SignupFrom.get('password')?.invalid &&
            SignupFrom.get('password')?.touched
          "
        >
          Please enter a valid Password.
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Sign Up</button>

      <p class="text-center mt-3">
        Already have an account? <a routerLink="/DashBoard/SignIn">Login</a>
      </p>
    </form>
  </div>
</div>
