.DashBoard {
  display: flex;
  height: 100vh; /* Full height */
}

/* Content area (right side) */
.ContentArea {
  flex-grow: 1; /* Take remaining space */
  padding: 2rem;
  overflow-y: auto;
  background-color: tan;
  position: relative;
}

.card {
  z-index: 2000;
  position: relative;
}

.dashboardItems {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
}

.DashBoard .card {
  display: flex;
  flex-direction: column;
  height: 100%; /* or a fixed height */
  border: 1px maroon maroon;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.DashBoard .card:hover {
  box-shadow: 0 0 15px maroon;
  transform: scale(1.05); /* Grows to 105% size */
}

.DashBoard .card-body {
  margin-top: auto;
}

.DashBoard .card-text {
  font-family: "Times New Roman", Times, serif;
  background-color: ghostwhite;
  color: gray;
}

.DashBoard .card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: maroon;
  font-weight: bolder;
}

.DashBoard .btn {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;

  &:hover {
    background-color: yellowgreen;
    color: black;
  }
}
