.card {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
}

.card-body {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}

.form-check-input {
  border-color: gray;
}
button {
  font-family: "Courier New", Courier, monospace;
}
.form-control {
  border-color: gray;
}
